/*Styles for index.html Starts Here By Erica*/

.nav {
  text-align: center;
}


/*Styles for index.html Starts Here By Erica*/


/*Styles for missing-persons.html Starts Here By Samirah*/

.thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/*Styles for missing-persons.html Ends Here By Samirah*/
